# Ignore CMake Files.
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Ignore Build Files.
build/
binary

.vscode/ipch/*

# Ignore Python Cache
__pycache__
